<title>Segment View</title>
<!-- <mat-toolbar class="toolbar-layout">
  <mat-toolbar-row>
    <span class="options">Client Name</span>
    <span class="options">Project Name</span>
    <span class="options">Download Metrics</span>
    <span class="options">Back to Data Upload</span>
    <span class="options">Logout</span>
  </mat-toolbar-row>
</mat-toolbar> -->
<div class="card-layout">
  <span>
    <mat-card class="single-card-section">
      <mat-card-header>
        <mat-card-title class="card-title">Segment Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div style="width: 30px">
          <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
            aria-orientation="horizontal"></mat-divider>
        </div> -->
        <div class="list-section">
          <div class="list">
            <span class="item-key">Count:</span>
            <span class="item-value"> 10</span>
          </div>
          <div class="list">
            <span class="item-key">Avg. Age:</span>
            <span class="item-value">35</span>
          </div>
          <div class="list">
            <span class="item-key">Avg. Income:</span>
            <span class="item-value">2000000</span>
          </div>
          <div class="list">
            <span class="item-key">Gender:</span>
            <span class="item-value">Male</span>
          </div>
          <div class="list">
            <span class="item-key">Education:</span>
            <span class="item-value">Graduate</span>
          </div>
          <div class="list">
            <span class="item-key">Life Stage:</span>
            <span class="item-value">Married</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </span>
  <span>
    <div class="row-cards">
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Anchoring Bias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal">
            </mat-divider>
          </div> -->
          <div>
            <img src="assets/images/anchor-bias.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Availability Heuristic</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
              aria-orientation="horizontal"></mat-divider>
          </div> -->
          <div>
            <img src="assets/images/heuristic.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Fast & Frugal Heuristic</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
              aria-orientation="horizontal"></mat-divider>
          </div> -->
          <div>
            <img src="assets/images/ff-heuristic.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <div class="row-cards">
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Innovator Index</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
              aria-orientation="horizontal"></mat-divider>
          </div> -->
          <div>
            <img src="assets/images/innovator-index.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Risk Aversion Index</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
              aria-orientation="horizontal"></mat-divider>
          </div> -->
          <div>
            <img src="assets/images/risk-aversion-index.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Social Influence Index</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div style="width: 30px">
            <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
              aria-orientation="horizontal"></mat-divider>
          </div> -->
          <div>
            <img src="assets/images/social-influence-index.png" class="progress-bar-image" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </span>
</div>