.single-card-section {
    margin: 10px;
    background-color: #eee;
    background: linear-gradient(to bottom, #ffffff, #cfedba);
    height: 90%;
    width: 15vw;
}

.double-card-section {
    margin: 10px;
    background-color: #eee;
    height: 90%;
    width: 15vw;
    box-shadow: 5px 5px 5px 5px #A8D08C;
    background: linear-gradient(135deg, #ffffff, #cfedba);
}

.card-layout {
    margin: 10px;
    height: 98%;
    display: flex;
    overflow-y: hidden;
    width: 98%;
}

.row-cards {
    display: flex;
    height: 45%;
}

.list-section{
    margin-top:2rem;
}

.list {
    margin: 3rem 1rem;
}

.item-key {
    color: #4295D1;
    font-size: 14px;
    font-style: italic;
}

.item-value {
    color: #4295D1;
    font-size: 14px;
    float: right;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f44336;
    border-top-width: 0.22rem;
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    left: 22%;
    width: 50%;
}

.card-title{
    margin-left: 1.2rem;

}

.progress-bar-image{
    width: 160px;
    margin-top: 3rem;
    margin-left: 10px;
}