<div class="card-layout">
    <span>
      <mat-card class="single-card-section"></mat-card>
    </span>
    <span>
      <div class="row-cards">
        <mat-card class="double-card-section"></mat-card>
        <mat-card class="double-card-section"></mat-card>
        <mat-card class="double-card-section"></mat-card>
      </div>
      <br>
      <div class="row-cards">
        <mat-card class="double-card-section"></mat-card>
        <mat-card class="double-card-section"></mat-card>
        <mat-card class="double-card-section"></mat-card>
      </div>
    </span>
  </div>