<div class="upload-section">
    <h4 class="title-section">What would you like to do today?</h4>
    <div>
        <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
          aria-orientation="horizontal"></mat-divider>
      </div>
    <div class="images">
        <img src="assets/images/metrics.svg" class="img-class links" (click)="navigatePage('segment-view')" />
        <img src="assets/images/new-metrics.svg" class="img-class links" (click)="navigatePage('upload-data')"/>
        <img src="assets/images/change-settings.png" class="img-class links" (click)="navigatePage('settings')"/>
    </div>
    <div class="text">
        <p style="align-items: center;" class="links" (click)="navigatePage('segment-view')">Explore existing Metrics</p>
        <p class="links" (click)="navigatePage('upload-data')">Generate Metrics on New Data</p>
        <p class="links" (click)="navigatePage('settings')">Change Settings</p>
    </div>
  </div>