<div class="upload-section">
    <h4 class="title-section">What would you like to do today?</h4>
    <div class="images">
        <img src="../../assets/images/metrics.svg.svg" class="img-class"/>
        <img src="../../assets/images/new-metrics.svg.svg" class="img-class"/>
        <img src="../../assets/images/new-metrics.svg.svg" class="img-class"/>
    </div>
    <div class="text">
        <p>Explore existing Metrics</p>
        <p>Explore existing Metrics</p>
        <p>Explore existing Metrics</p>
    </div>
  </div>