<div class="upload-section">
  <h4 class="title-section">Upload Data</h4>
  <div class="dropzone">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileDropped($event.target.files)" />
    <img src="" alt="">
    <h3>Select or Drop files here</h3>
    <label class="label" for="fileDropRef">Browse for files</label>
    <div class="files-list">
      <div class="single-file" *ngFor="let file of files; let i=index">
        <img src="">
        <div class="info">
          <p class="name">
            {{file?.name}}
          </p>
        </div>
        <mat-icon class="delete" (click)="deleteFile(i)">delete_outline</mat-icon>
      </div>
    </div>
  </div>
   <span *ngIf="files && files.length">
      <!-- <mat-icon class="next-arrow" (click)="navigatePage('choose-industry')">arrow_forward</mat-icon> -->
    <button (click)="navigatePage('choose-industry')">Next</button>
    </span>
</div>