.tp-container {
   position: relative;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #eee;
   height: 100%;
}

.nav-item {
   display: flex;
   align-content: center;
   align-items: center;
   height: 3.5vh;
   padding: 8px;
   color: white;
   font-size: 12px;
   margin-left: 0.8rem;

   :hover {
      cursor: pointer;
   }

}

.side-nav {
   background-color: #262626;
   width: 20%;
}

.table-section {
   margin: 20px;
}

.mat-table {
   background-color: #eee;
   width: 100%;
   border: 0.5px solid white;
   color: black;
}

.mat-cell,
.mat-header-cell {
   color: black;
   text-align: center;
   border: 1px solid white;
}

mat-sidenav-content {
   width: 100%;
   background-color: white;
}

a{
   text-decoration: none;
   color: white;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}