<app-header></app-header>
<div style="height:95vh">
<mat-sidenav-container class = "tp-container">
  <mat-sidenav class="side-nav" mode = "side" [opened]="sidenavFlag">
    <!-- <mat-icon (click)="toggleSidenav()">close</mat-icon> -->
    <div *ngFor="let sidenavItem of sidenavLinks">
     <section class = "tp-section" (click)="toPage(sidenavItem.path)" >
        <span>{{sidenavItem.name}}</span>
     </section>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
</div>