.h4{
    color: #4295D1;
    text-align: center;
    font-family:  Calibri;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10%;
    //border-bottom: 4px solid red;
  //  border-top:50px;
    
    //line-height: 4;
   //padding: 1 1 1px;
   //margin-left: 1rem;

   //border-bottom: 4px solid red;
   
   //line-height: 4;
   //padding: 1 1 1px;
   

}

.mat-label{
    margin-left: 25rem;
    height: 50px!important;
    font-style:italic !important;
    font-family:  Calibri;
    font-size: 16px;
    border-width: 15px;
    color: #4266d1!important ;

    

}

.form-section{
    margin: 2rem;
    width:100%;
    color: #4266d1;
    text-align: center;
   // height: 50px;
    
    

}

mat-form-field{
    color: #4266d1 !important;
   height:25px !important;
    width: 250px;
    
}