.h4{
    color: #4295D1;
    text-align: center;

}

.mat-label{
    margin-left: 25rem;

}

.form-section{
    margin: 2rem;
    width:100%;
    color: #4266d1;
    text-align: center;

}

mat-form-field{
    color: #4266d1 !important;
    width: 220px;
}

.next-button {
    color: white;
    width: 30px;
    height: 35px;
    border-radius: 5px;
    float: right;
    background-color: #4295D1;
    margin-right: 20px;
    margin-top: 20px;
}