<title>Biases View</title>
<div class="card-layout">
  <span>
    <mat-card class="single-card-section">
      <mat-card-header>
        <mat-card-title class="card-title">Anchoring Bias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div style="width: 30px">
          <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator"
            aria-orientation="horizontal"></mat-divider>
        </div> -->
        <div>
          <img class="images" src="../../assets/images/bias.png" class="progress-bar-image" />

        </div>
        
      </mat-card-content>
    </mat-card>
  </span>
  <span>
    <div class="row-cards">
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div  class="text-white">
            Pricing: Strong dependency on reference price.<br/><br>

            Price promotions may backfire beyond the reference price.
            

          </div>
          
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <div class="text-white">
          Promotions: Not “Cherry Pickers”

          High Brand Loyalty is expected

         </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input3</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-white">
            Channel: Traditional purchase and decision making using brick & mortar

           Need to explore other needs like search costs to bring them to digital channel
  
            
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <div class="row-cards">
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input4</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-white">

            Ad Content: Focus on benefits due to brand stickiness and loyalty

            Nostalgic Messages work better

          </div>
         
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input5</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-white">
            Innovator Traits: Not innovators or early adopters

            Not a good segment to experiment new products

          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="double-card-section">
        <mat-card-header>
          <mat-card-title class="card-title">Business Input6</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-white">

            Social Conformity: Inclined to be with like minded people

            High dependence on social group.

          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </span>
</div>