.single-card-section {
    margin: 10px;
    background-color: #eee;
    background: linear-gradient(to bottom, #ffffff, #cfedba);
    height: 90%;
    width: 15vw;
    box-shadow: none !important;
}

.double-card-section {
    margin: 10px;
    background-color: #eee;
    height: 90%;
    width: 15vw;
    background: linear-gradient(135deg, #ffffff, #cfedba);
    box-shadow: none !important;
}

.card-layout {
    margin: 10px;
    height: 98%;
    display: flex;
    overflow-y: hidden;
    width: 98%;
}

.row-cards {
    display: flex;
    height: 48%;
}

.text-white {
    color: rgb(77, 94, 204);
    line-height: 1.5;
    margin-top: 15px !important;
    //text-overflow:ellipsis;
    text-align: justify;
    //font-weight: bold;
    font-style: italic;
    font-family: Calibri;
    font-size: medium;

}

.mat-divider {
    display: block;
    margin: 0 4vw;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f44336;
    border-top-width: 0.22rem;
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    width: 50%;
}

.images{
    margin: 0 45%;
}

.Anchoring-bias1 {

    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: hsl(15, 100%, 50%);
}

.Anchoring-bias2 {
    margin-top: 50px;
    margin-block-end: 100px;
    margin-block-end: 20px;

    font-size: 18px;
    color: #4D9BCC;
    text-align: justify;
    font-style: italic;
    font-family: Calibri;

}

.Anchoring-bias3 {
    margin-block-start: 20px;

    text-decoration: underline;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;
    text-align: justify;

    color: #4D9BCC;
}

.Anchoring-bias4 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: .8;

    text-align: justify;

    font-weight: bold;
    color: #4D9BCC;
}

.card-title{
    margin: 0 25px;
}