.single-card-section {
    margin: 10px;
    background-color: #eee;
    box-shadow: #eee;
    height: 90%;
    width: 15vw;
}

.double-card-section {
    margin: 10px;
    background-color: #eee;
    box-shadow: #eee;
    height: 90%;
    width: 15vw;
}

.card-layout {
    margin: 10px;
    height: 98%;
    display: flex;
    overflow-y: hidden;
    width: 98%;
}

.row-cards {
    display: flex;
    height: 45%;
}

.text-white{
    color: rgb(77, 94, 204);
    line-height: 2;
    margin-top: 15px !important;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f44336;
    border-top-width: 0.22rem;
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    left: 22%;
    width: 50%;
}


.card-title{
   
    margin-left: 3rem;

    border-bottom: 4px solid red;
    
    line-height: 4;
    padding: 1 1 1px;

}


.images{

margin-left:40%;
}
.Anchoring-bias1{
    
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    font-weight :bold;
    color:rgb(255, 0, 0);
}
.Anchoring-bias2{
    margin-top: 150px;
    margin-block-end: 100px;
    margin-block-end: 20px;
    font-size: 18px;
    color: #4D9BCC;

}
.Anchoring-bias3{
    margin-block-start: 20px;
   /// text-underline-position: auto;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;
    color:  #4D9BCC;
}
.Anchoring-bias4{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8;
    
    font-weight: bold;
    color: #4D9BCC;
}