
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Metrics-Social-Angular-primary: mat-palette($mat-indigo);
$Metrics-Social-Angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Metrics-Social-Angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Metrics-Social-Angular-theme: mat-light-theme($Metrics-Social-Angular-primary, $Metrics-Social-Angular-accent, $Metrics-Social-Angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Metrics-Social-Angular-theme);

/* You can add global styles to this file, and also import other style files */

body {
   height: 100%;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.upload-section {
   margin: 3rem;
   border-radius: 3rem;
   border: 1px solid #4295D1;
   width: 70vw;
   height: 80%;
   background-color: white;
}

.title-section {
   color: #4295D1;
   text-align: center;
}

.card-title {
   color: #4265d1;
   font-size: 14px !important;
}

mat-form-field.mat-form-field.mat-white {
   &.mat-focused {
      .mat-form-field-label {
         color: #FAFAFA;
      }

      .mat-form-field-ripple {
         background-color: #FAFAFA !important;
      }
   }

   .mat-form-field-label,
   .mat-form-field-label.mat-focused,
   .mat-form-field.mat-focused.matform-field-should-float {
      color: #FAFAFA;
   }

   .mat-form-field-underline,
   .mat-form-field-underline.mat-focused {
      background-color: #FAFAFA;
   }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
